html,
body {
  width: 100%;
  height: 100%;
}
body {
  font: 14px "Arial", sans-serif;
  text-align: left;
  min-width: 750px;
  padding: 0;
  margin: 0;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
}
header {
  padding: 0;
  margin: 0;
  flex: 0 0 auto;
  width: 100%;
}
.container {
  min-width: 800px;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
}
nav {
  padding: 98px 0 66px;
}
.header-content {
  display: flex;
  justify-content: space-evenly;
}
.logo-menu {
  width: 210px;
  height: 162px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo {
  margin-top: -6px;
  margin-left: -87px;
}
.head-menu {
  list-style: none;
  margin: 0 0 0 -11px;
  padding: 0;
  color: rgb(49, 118, 177);
  line-height: 1.301;
  margin-left: -40px;
}
.menu-head-item {
  font-size: 15px;
  font-family: "Arial";
  text-decoration: none;
}
.menu-head-item a {
  padding: 0 30px;
}
.underline- {
  border-bottom: 1px solid rgb(49, 118, 177);
  display: inline-block;
  line-height: 1.2;
  text-decoration: none;
}
.underline-:hover {
  border: none;
}
.head-text {
  box-sizing: border-box;
}
.head-text h2 {
  font-size: 27px;
  font-family: "Arial";
  color: #1669b1;
  font-weight: normal;
  line-height: 21px;
  width: 300px;
  font-style: oblique;
}
.st:first-child {
  margin-left: -15px;
}
.text-2 {
  margin: 14px 0 0 0;
  font-size: 11px;
  width: 365px;
  height: 119px;
  overflow: hidden;
  color: rgb(50, 50, 50);
  line-height: 15px;
}
.contact-box {
  width: 153px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tel-box,
.adress {
  white-space: pre-line;
  hyphens: none;
  display: flex;
}
p {
  padding: 0;
  margin: 0;
}
.adress {
  font-size: 11px;
  font-family: "Arial";
  color: rgb(100, 109, 110);
  line-height: 1.2;

  margin-left: 2px;
}
.adress a {
  color: #0062af;
  line-height: 2;
}

.tel {
  font-size: 11px;
  font-family: "Tahoma";
  color: rgb(168, 165, 150);
}
.online {
  font-size: 15px;
  font-family: "Arial";
  color: rgb(22, 105, 177);
}
.nomer {
  font-size: 29px;
  font-family: "Tahoma";
  color: #323232;
}
section {
  margin-bottom: 55px;
}
.menu-main {
  background: #0062af;
  min-width: 800px;
}
.header-navigation {
  display: flex;
  padding: 8px 0 10px;
}
.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: space-around;
}
.menu-item {
  display: inline;
  color: #ffffff;
  text-decoration: none;
}
.menu-item:first-child {
  margin-left: 52px;
}
.main-menu a {
  display: block;
  padding: 0 13px;
  font-size: 19px;
}
.underline {
  border-bottom: 2px solid #fff;
  display: inline-block;
  line-height: 0.9;
}
.underline:hover {
  border: none;
}
.img-container {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  min-width: 800px;
}
.img-center {
  width: 45%;
}
.img-left {
  width: 30%;
}
.img-right {
  width: 25%;
}
.news-block {
  display: flex;
  justify-content: center;
}
.news-block-title {
  color: #1669b1;
}
.news {
  font-size: 31px;
  font-family: "Arial";
  text-align: left;
}
.news:hover {
  opacity: 0.5;
}
.news-block-title {
  width: 151px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-right: 8px solid #0062af;
  line-height: normal;
  align-items: flex-start;
}
.news-block-title p {
  margin: 0 0 0 0;
  padding: 0;
}
.news-block-title p:last-child {
  align-self: center;
}
.news {
  text-decoration: none;
  font-weight: normal;
}
.all-news {
  display: flex;
  font-size: 10px;
  font-family: "Tahoma";
  align-self: center;
  color: #0062af;
}
.block {
  overflow: hidden;
  font-size: 11px;
  font-family: "Arial";
  text-align: left;
  line-height: 1.364;
  display: flex;
  list-style: none;
  width: 500px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.block li {
  width: 168px;
  height:75px;
  overflow: hidden;
  align-items: flex-start;
  margin: 0 10px 10px 10px;
}
.block li h2 {
  font-weight: normal;
  font-size: 11px;
}
.block a {
  color: #3176b1;
  display: block;
}
.copyright {
  font: 12px "Tahoma";
  color: #aeaa97;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  line-height: 1.8;
}
.copyright p {
  width: 313px;
}
.copyright a {
  color: #3176b1;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
  margin-bottom: 5.5%;
}
footer {
  flex-shrink: 0;
}
