html,
body {
  width: 100%;
  height: 100%;
}
body {
  font: 14px "Arial", sans-serif;
  text-align: left;
  min-width: 1200px;
  padding: 0;
  margin: 0;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
}
header {
  padding: 0;
  margin: 0;
  flex: 0 0 auto;
  width: 100%;
}
nav {
  padding: 98px 0 66px;
}
.wrap{
  width: 100%;
  max-width:965px;
  margin: 0 auto;
  padding: 0 15px;
  min-width: 800px;
}
.header-content {
  display: flex;
  justify-content: space-between;
}
.logo-menu {
  width: 215px;
  height: 162px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo {
  margin-top: -6px;
  margin-left: -68px;
}
.head-menu {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0;
  color: rgb(49, 118, 177);
  line-height: 1.301;
}
.head-menu__item {
  font-size: 15px;
  font-family: "Arial";
  text-decoration: none;
  margin-left: -30px;
}
.head-menu__item a {
  padding: 0 30px;
}
.underline-thick {
  border-bottom: 1px solid rgb(49, 118, 177);
  display: inline-block;
  line-height: 1.2;
  text-decoration: none;
  color: #0062af;
}
.underline-thick:hover {
  border: none;
}
.head-text{
  width:355px;
}
.head-text__title {
  font-size: 27px;
  font-family: "Arial";
  color: #1669b1;
  font-weight: normal;
  line-height: 21px;
  width: 300px;
  font-style: oblique;
}
.head-text__title::before {
  content:"";
  margin-left: -15px;
}
.head-text__text {
  margin: 14px 0 0 0;
  font-size: 11px;
  width: 365px;
  height: 119px;
  overflow: hidden;
  color: rgb(50, 50, 50);
  line-height: 15px;
}
.contact-box {
  width: 175px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 165px;
}
.contact-box__tel,
.contact-box__adress {
  white-space: pre-line;
  hyphens: none;
  display: flex;
}
.contact-box__adress {
  font-size: 11px;
  font-family: "Arial";
  color: rgb(100, 109, 110);
  margin-left: 3px;
}
.contact-box__tel {
  font-size: 11px;
  font-family: "Tahoma";
  color: rgb(168, 165, 150);
}
.contact-box__online {
  font-size: 15px;
  font-family: "Arial";
  color: rgb(22, 105, 177);
}
.nomer {
  font-size: 29px;
  font-family: "Tahoma";
  color: #323232;
}
.menu-main {
  background: #0062af;
  min-width: 1080px;
}
.header-navigation {
  display: flex;
  padding: 8px 0 10px;
}
.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: space-around;
}
.main-menu__item {
  display: inline;
  color: #ffffff;
  text-decoration: none;
}
.main-menu__item:first-child {
  margin-left: -11px;
}
.main-menu a {
  display: block;
  padding: 0 13px;
  font-size: 19px;
}
.underline {
  border-bottom: 2px solid #fff;
  display: inline-block;
  line-height: 0.9;
}
.underline:hover {
  border: none;
}
.img-container {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  min-width: 800px;
}
.img-container__center {
  width: 45%;
}
.img-container__left {
  width: 30%;
}
.img-container__right {
  width: 25%;
}
.page{
  margin-top: 61px;
  display: flex;
  justify-content: center;
}
.news-block {
  width: 700px;
  display: flex;
  justify-content: space-between;
}
.news-block-title {
  color: #1669b1;
}
.news {
  font-size: 31px;
  font-family: "Arial";
  text-align: left;
}
.news:hover {
  opacity: 0.5;
}
.news-block-title {
  width: 152px;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-right: 8px solid #0062af;
  line-height: normal;
  align-items: flex-start;
  margin-top: -6px;
}
.news-block-title h2 {
  margin:-6px 0 0 ;
  padding: 0;
}
.news-block-title p{
  align-self: center;
}
.news {
  text-decoration: none;
  font-weight: normal;
}
.all-news {
  display: flex;
  font-size: 10px;
  font-family: "Tahoma";
}
.block {
  overflow: hidden;
  font-size: 11px;
  font-family: "Arial";
  text-align: left;
  line-height: 1.364;
  display: flex;
  list-style: none;
  width: 508px;
  flex-wrap: wrap;
}
.block__text {
  width: 167px;
  height:77px;
  overflow: hidden;
  align-items: flex-start;
  margin: 0 35px 10px 0px;
}
.block__text p{
  margin-top: 6px;
}
.block li h2 {
  font-weight: normal;
  font-size: 11px;
}
.block a {
  color: #3176b1;
  display: block;
}
a:hover{
  text-decoration: none;
}
.copyright {
  font: 12px "Tahoma";
  color: #aeaa97;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  line-height: 1.8;
}
.copyright p {
  width: 279px;
}
.copyright a {
  color: #3176b1;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
  margin-bottom: 5.3%;
}
.footer {
  flex-shrink: 0;
}
